html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100vw;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

#reset {
    max-height: 50px;
    max-width: 115px;
    margin: 10px;
}

#grid {
    height: 90vh;
    width: 90vh;
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.block {
    height: 100%;
    border: .3px solid white;
    background: black;
    flex-grow: 1;
}